<h1>Wires#new</h1>


<%= form_for :wire do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
